<div id="page-container">
    <h4 class="row" id="page-title">{{ title }}</h4>
    <p class="row" id="page-desc">
        EMI stands for equity monthly installment that are paid towards
        repayment of loan.
    </p>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-emi-calculator-inputs
                (inputsSubmitted)="inputsSubmitted($event)"
            ></app-emi-calculator-inputs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-emi-calculator-results
                [title]="title"
                [calculatorInputs]="calculatorInputs"
            ></app-emi-calculator-results>
        </div>
    </div>
</div>
