<div id="page-container">
    <h4 class="row" id="page-title">{{ title }}</h4>
    <p class="row" id="page-desc">
        Compound Annual Growth Rate (CAGR) is a measure of the average yearly
        growth of your investments over a certain time period. It tells you the
        average rate of return you have earned on your investments every year.
    </p>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-cagr-inputs
                (inputsSubmitted)="inputsSubmitted($event)"
            ></app-cagr-inputs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-cagr-results
                [title]="title"
                [calculatorInputs]="calculatorInputs"
            ></app-cagr-results>
        </div>
    </div>
</div>
