<div id="page-container">
    <h4 class="row" id="page-title">{{ title }}</h4>
    <p class="row" id="page-desc">
        Easy to use online tool that allows you to create receipts for the rent
        you have paid during the financial year.
    </p>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-rent-inputs (inputsSubmitted)="inputsSubmitted($event)" 
                (goBack)="goBack($event)"></app-rent-inputs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-rent-results
                [title]="title"
                [calculatorInputs]="calculatorInputs"
            ></app-rent-results>
        </div>
    </div>
</div>
