<div id="page-container">
    <h4 class="row" id="page-title">{{ title }}</h4>
    <p class="row" id="page-desc">
        Interest is the monetary charge for the privilege of borrowing money,
        typically expressed as an annual percentage rate (APR). Interest is the
        amount of money a lender or financial institution receives for lending
        out money.
    </p>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-interest-calculator-inputs
                (inputsSubmitted)="inputsSubmitted($event)"
            ></app-interest-calculator-inputs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-interest-calculator-results
                [title]="title"
                [calculatorInputs]="calculatorInputs"
            ></app-interest-calculator-results>
        </div>
    </div>
</div>
