.data-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .row {
        width: 100%;

        & > .col-md-8, .col-md-4 {
            padding: 0 !important;
        }
    }

    table {
        margin-top: 15px;
        max-width: 600px;

        td {
            text-align: center;
        }
    }
}
