<div id="page-container">
    <h4 class="row" id="page-title">{{ title }}</h4>
    <p class="row" id="page-desc">
        A mortgage is an agreement between you and a lender that gives the
        lender the right to take your property if you fail to repay the money
        you've borrowed plus interest.
    </p>
    <p class="row" id="page-desc">
        Mortgage loans are used to buy a home or to borrow money against the
        value of a home you already own.
    </p>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-calculator-inputs
                (inputsSubmitted)="inputsSubmitted($event)"
            ></app-calculator-inputs>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <app-calculator-results
                [title]="title"
                [calculatorInputs]="calculatorInputs"
            ></app-calculator-results>
        </div>
    </div>
</div>
