<div class="container-fluid" id="page-container">
    <div class="home-container">
        <div class="splash-img"></div>
        <div class="details">
            <div class="card mx-auto">
                <div class="card-body">
                    <h3 class="card-title">Hi there,</h3>
                    <p class="card-text fs-5">
                        Welcome, using this application you will be able to calculate
                        your needs hence the tag line
                        <span class="fw-bold"
                        >all-in-one calculator for daily needs</span
                        >.
                    </p>
                    <h5>We have the following calculators...</h5>
                    <ul>
                        <li>Mortgage</li>
                        <li>EMI</li>
                        <li>Interest</li>
                        <li>CAGR</li>
                        <li>Debt free</li>
                    </ul>
                    <h5>We have the following tools...</h5>
                    <ul>
                        <li>Rent receipt generator</li>
                    </ul>
                    <h5>Also, you can export the calculator results to PDF file.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="home-footer">
        <div class="badge bg-warning text-dark">Disclaimer:</div> 
        <div class="fw-light fs-6">The views, information or opinions expressed in this application are solely for R&D purpose. Please do your own research before using this application. Thanks.</div>
    </div>
</div>
